footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

footer .text {
  font-size: 1.125rem;
  color: #fff;
  margin-right: 0.2rem;

  &:hover {
    text-decoration: underline;
  }
}

footer .ContainerLinkedin,
footer .ContainerWpp {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  a {
    display: contents;
  }
  .footer-icon {
    font-size: 20px;
    transition: transform 0.2s ease, color 0.3s ease;
  }

  .footer-icon:hover {
    transform: scale(1.1);
  }
}
