* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

@font-face {
    font-family: 'neue machina';
    src: url('../fonts/NeueMachina-Regular.otf');
}

.main {
    padding: 1rem;
    margin: 1rem;
    border-radius: .5rem;
    border: 1px solid #fff;
}

.main::before, 
.main::after {
    content: '';
    background-image: url('/portifolio_profissional/assets/img/background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 140vw;
    height: 100vh;
    z-index: -1;
}

.main::after {
    content: '';
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

@media (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }
    .main::before, .main::after {
        width: 70vw;
    }
}